@{
    ViewData["Title"] = "Registro";
}
@model TblUsuario

<h2>Registro</h2>

<form asp-action="Signup" method="post">
    <label>Nombre:</label>
    <input asp-for="Nombre" />
    <label>Apellido:</label>
    <input asp-for="Apellido" />
    <label>Usuario:</label>
    <input asp-for="Usuario" />
    <label>Correo:</label>
    <input asp-for="Correo" />
    <label>Contraseña:</label>
    <input asp-for="Contrasena" type="password" />
    <label>Departamento:</label>
    <select id="departamento" name="departamento">
        <option value="">Seleccione...</option>
        @foreach (var item in ViewBag.Departamentos)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <select id="rol" name="roles">
        <option value="">Seleccione...</option>
        @foreach (var item in ViewBag.Roles)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <select id="generos" name="generos">
        <option value="">Seleccione...</option>
        @foreach (var item in ViewBag.Generos)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <button type="submit">Registrar</button>
    <a asp-controller="Account" asp-action="Login">Ya tienes cuenta?</a>
</form>