@model IEnumerable<jbp_wapp.Models.Vacante>
@{
    ViewData["Title"] = "Inicio";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<!-- Seccion Hero -->
<div class="hero">
    <div class="container">
        <h2>Bienvenido, @ViewData["UserName"]</h2>
        <h1 class="display-4 text-warning bold fade-text">Encuentra tu próximo empleo aquí</h1>
        <p class="lead">Explora las mejores oportunidades y comienza tu carrera profesional hoy mismo.</p>
        <a href="/Vacante" class="btn btn-outline-light btn-lg mt-3">Explorar Vacantes</a>
    </div>
</div>

<!-- Seccion de Vacantes Recomendadas -->
<div class="recommended-vacancies mt-5">
    <div class="container">
        <h2 class="mb-4 text-center">Vacantes Recomendadas</h2>
        <div class="row">
            @foreach (var vacante in ViewBag.VacantesRecomendadas)
            {
                <div class="col-md-4 mb-3">
                    <div class="card border-dark">
                        <div class="card-body">
                            <h5 class="card-title">@vacante.Titulo</h5>
                            <p class="card-text text-secondary">@vacante.Descripcion</p>
                            <a href="/Vacantes/Detalles/@vacante.Id" class="btn btn-outline-success">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@Html.Partial("SuccessProfiles")
@Html.Partial("FutureSection")