@model IEnumerable<jbp_wapp.Models.Vacante>
@{
    ViewData["Title"] = "Todas las Vacantes";
}

<h1 class="text-center">Todas las Vacantes</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    @foreach (var vacante in Model)
    {
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@vacante.Titulo</h5>
                    <p class="card-text">
                        @(
                            vacante.Descripcion.Length > 100 
                            ? $"{vacante.Descripcion.Substring(0, 100)}..." 
                            : vacante.Descripcion
                        )
                    </p>
                    <p class="card-text"><small class="text-muted">Reclutador: @vacante.Usuario.Nombre @vacante.Usuario.Apellido</small></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group gap-3">
                            <a class="btn btn-primary btn-sm">Aplicar</a>
                            <a class="btn btn-outline-success btn-sm" onclick="openVacanteModal(@vacante.Id)">
                             Detalles
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@Html.Partial("ModalVacante")